/*** Headers ***/
.vlx-header { margin-top: var(--navbar-height); }

/** Header > Home **/
.vlx-header.vlx-header--home { min-height: calc(70vh - var(--navbar-height)); display: flex; align-items: center; justify-content: center; flex-direction: column; background-color: var(--bg-clr); background-image: url(/images/hero-background.svg); background-size: cover; background-position: top; }
.vlx-header.vlx-header--home .vlx-text > *:is(h1,h2,h3) { --lh: 1.25; text-align: center; color: var(--accent); }
.vlx-header.vlx-header--home .vlx-text > *:not(h1,h2,h3,:is(ul, ol) li) { --fs: var(--fs-h6); }
.vlx-header.vlx-header--home * { text-align: center; }
.vlx-header.vlx-header--home .vlx-icon { --w: 60px; --h: 60px; --clr: var(--accent); position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); opacity: .7; }


/** Header > Subpage **/
.vlx-header.vlx-header--subpage { min-height: calc(30vh - var(--navbar-height)); display: flex; align-items: center; justify-content: center; flex-direction: column; background-color: var(--bg-clr); background-image: url(/images/hero-background.svg); background-size: cover; background-position: top; }
.vlx-header.vlx-header--subpage *:is(h1,h2,h3) { --lh: 1.25; text-align: center; color: var(--accent); }






/*** Blocks ***/
.vlx-block__header { margin-bottom: 32px; }


/** Blocks > Text **/
.vlx-block--text { }
.vlx-block--text h2 { max-width: 80%; margin-bottom: 32px; }
.vlx-block--text:not(:has(.d-grid)) p { max-width: 80%; }
.vlx-block--text .btn.btn--link { --fs: var(--fs-medium); color: var(--accent); }
.vlx-block--text .vlx-text p { margin-bottom: 32px; }
.vlx-block--text .vlx-text img { display: none; }


/** Blocks > Text Image **/
.vlx-block--text-image { }
.vlx-block--text-image .container { display: grid; grid-template-columns: repeat(2, 1fr); gap: 32px; }

.vlx-block--text-image h2 { max-width: 80%; margin-bottom: 16px; }
.vlx-block--text-image p { max-width: 80%; }
.vlx-block--text-image .btn.btn--link { --fs: var(--fs-medium); color: var(--accent); }
.vlx-block--text-image .vlx-text { display: flex; justify-content: center; flex-direction: column; }
.vlx-block--text-image .vlx-text p:not(:last-of-type) { margin-bottom: 32px; }
.vlx-block--text-image .vlx-text img { display: none; }

.vlx-block--text-image .vlx-image { width: 100%; height: 100%; max-height: 500px; }
.vlx-block--text-image .vlx-image__img { width: 100%; height: 100%; max-height: 500px; border-radius: 16px; object-fit: cover; object-position: center; }

@media (min-width:1200px) {
    .vlx-block--text-image :is(h2,p) { max-width: unset; }
}


/** Blocks > Table **/
.vlx-block--table { display: flex; flex-direction: column; gap: 16px; }
.vlx-block--table .vlx-row { display: grid; grid-template-columns: repeat(4, 1fr); gap: 16px; transition: opacity .3s; }
.vlx-block--table .vlx-row :is(input,select) { background: var(--bg-clr-dark); padding: 4px; border-radius: var(--border-radius-small); border: unset; outline: unset; --ff: var(--font-code); }
.vlx-block--table .vlx-row.--loading { opacity: .5; }


/** Blocks > Errors **/
.vlx-block--error { height: 100vh; }
.vlx-block--error *:is(.container, .inner) { height: 100%; }
.vlx-block--error .text { text-align: center; }
.vlx-block--error .text h1 { --fs: 250px; }


/** Blocks > Auth **/
.vlx-block--auth { height: 100vh; width: 100%; display: grid; place-content: center; }


/** Blocks > Dash **/
.dash .vlx-block { min-height: 100vh; }

/** Blocks > Dash > Users **/
.vlx-block--dash-users { --gc: 1; }
.vlx-block--dash-users .d-grid { display: grid; grid-template-columns: repeat(var(--gc), minmax(0, 1fr)); gap: 16px; }


/** Blocks > Dash > Contact **/
.vlx-block--dash-contact { --gc: 1; }
.vlx-block--dash-contact .d-grid { display: grid; grid-template-columns: repeat(var(--gc), minmax(0, 1fr)); gap: 16px; }


/** Blocks > Dash > Pages **/
.vlx-block--dash-pages { --gc: 1; }
.vlx-block--dash-pages .d-grid { display: grid; grid-template-columns: repeat(var(--gc), minmax(0, 1fr)); gap: 16px; }
.vlx-block--dash-pages .vlx-block__header { display: flex; justify-content: space-between; align-items: center; }
.vlx-block--dash-pages .vlx-block__header :is(.vlx-form__box, .btn-group) { margin: unset !important; }
.vlx-block--dash-pages .vlx-block__header .btn.btn--small { min-width: 260px !important; }


/** Blocks > Dash > Menus **/
.vlx-block--dash-menus { --gc: 1; }
.vlx-block--dash-menus .d-grid { display: grid; grid-template-columns: repeat(var(--gc), minmax(0, 1fr)); gap: 16px; }
.vlx-block--dash-menus .vlx-block__header { display: flex; justify-content: space-between; align-items: center; }
.vlx-block--dash-menus .vlx-block__header :is(.vlx-form__box, .btn-group) { margin: unset !important; }
.vlx-block--dash-menus .vlx-block__header .btn.btn--small { min-width: 260px !important; }


/** Blocks > Dash > @media **/
@media (min-width: 768px) {
    .vlx-block--dash-users { --gc: 2; }
    .vlx-block--dash-contact { --gc: 2; }
    .vlx-block--dash-pages { --gc: 2; }
    .vlx-block--dash-menus { --gc: 2; }
}
@media (min-width: 992px) {
    .vlx-block--dash-users { --gc: 3; }
    .vlx-block--dash-contact { --gc: 3; }
    .vlx-block--dash-pages { --gc: 3; }
    .vlx-block--dash-menus { --gc: 3; }
}
@media (min-width: 1200px) {
    .vlx-block--dash-users { --gc: 4; }
    .vlx-block--dash-contact { --gc: 4; }
    .vlx-block--dash-pages { --gc: 4; }
    .vlx-block--dash-menus { --gc: 4; }
}
