.vlx-block-editor .vlx-block-types { position: relative; padding-bottom: 16px; }
.vlx-block-editor .vlx-block-types__menu { position: absolute; top: 100%; left: 0; background: var(--bg-clr-light); border-radius: var(--border-radius); padding: 16px; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); z-index: 1000; display: flex; gap: 16px; flex-wrap: wrap; max-width: 100%; opacity: 0; pointer-events: none; transition: opacity var(--timing); }
.vlx-block-editor .vlx-block-types__menu.--active { opacity: 1; pointer-events: all; }
.vlx-block-editor .vlx-block-types__menu button { background: var(--bg-clr); color: var(--text-clr); border-radius: 8px; padding: 8px 16px; cursor: pointer; outline: unset; border: unset; }
.vlx-block-editor .vlx-block-types__menu button:hover { background: var(--bg-clr-dark); }


.vlx-block-editor__container { min-height: 200px; border: 1px solid var(--bg-clr-light); border-radius: var(--border-radius); padding: 16px; }

.vlx-be-block { margin-bottom: 16px; padding: 32px; background: var(--bg-clr-light); border-radius: var(--border-radius); }
.vlx-be-block:last-child { margin: unset !important; }

.vlx-be-block__header { display: flex; justify-content: space-between; align-items: center; padding-bottom: 16px; }
.vlx-be-block__header .vlx-be-block-controls { display: flex; gap: 8px; }
.vlx-be-block__header .vlx-be-block-controls button { background: var(--bg-clr); color: var(--text-clr); border-radius: 8px; padding: 8px 16px; cursor: pointer; outline: unset; border: unset; }
.vlx-be-block__header .vlx-be-block-controls button:hover { background: var(--bg-clr-dark); }

.vlx-be-block .vlx-form__box :is(input:not([type="submit"]),select,textarea) { background-color: var(--bg-clr); }

.trumbowyg { border: unset !important; }
.trumbowyg .trumbowyg-button-pane { background-color: var(--bg-clr); border-radius: var(--border-radius); border: unset !important; margin-bottom: 4px; }
.trumbowyg .trumbowyg-button-pane::before { content: unset !important; }
.trumbowyg .trumbowyg-button-pane button:not(.trumbowyg-disable) { background-color: unset !important; }
.trumbowyg .trumbowyg-button-group::after { background: var(--bg-clr-light) !important; }
.trumbowyg .trumbowyg-editor-box { background-color: var(--bg-clr); border-radius: var(--border-radius); }
.trumbowyg svg { color: var(--accent) !important; fill: var(--accent) !important; }
.trumbowyg .trumbowyg-dropdown { padding: 4px 0; background: var(--bg-clr-light); color: var(--text-clr); border: unset !important; }
.trumbowyg .trumbowyg-dropdown button { background-color: unset !important; color: var(--text-clr) !important; }
.trumbowyg .trumbowyg-dropdown button:hover { background-color: var(--bg-clr) !important; color: var(--text-clr) !important; }

.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-textarea {
    background-color: var(--bg-clr) !important;
    border-radius: var(--border-radius) !important;
    color: var(--text-clr) !important;
    padding: 8px !important;
}

.trumbowyg .trumbowyg-overlay { background: rgba(0, 0, 0, 0.1) !important; z-index: 20 !important; border-radius: var(--border-radius) !important; }
.trumbowyg-modal { overflow: visible !important; }
.trumbowyg-modal .trumbowyg-modal-box { background-color: var(--bg-clr-light) !important; top: -34px !important; border-radius: var(--border-radius); }
.trumbowyg-modal .trumbowyg-modal-box .trumbowyg-modal-title { color: var(--text-clr); margin: unset !important; padding: 16px 0 16px; display: block; border-bottom: unset !important; }
.trumbowyg-modal .trumbowyg-modal-box form { padding: 16px; padding-top: unset; }
.trumbowyg-modal .trumbowyg-modal-box form .trumbowyg-input-row { margin: 0 0 8px 0; border: unset !important; }
.trumbowyg-modal .trumbowyg-modal-box form .trumbowyg-input-row:last-of-type { margin: unset !important; }
.trumbowyg-modal .trumbowyg-modal-box form .trumbowyg-input-infos { background-color: var(--bg-clr); border: unset !important; }
.trumbowyg-modal .trumbowyg-modal-box form :is(input,select) { background-color: var(--bg-clr) !important; color: var(--text-clr); border: unset !important; outline: unset !important; box-shadow: unset !important; }

/** Dragging disabled due to bugs **/
/* .block.--dragging { opacity: 0.5; border: 2px dashed var(--primary-color); }
.block-placeholder { border: 2px dashed var(--primary-color); height: 50px; margin: 10px 0; background: var(--background-light); } */



