.vlx-menu-builder { }
.vlx-menu-builder .vlx-menu-item { margin: 8px 0; padding: 16px; border-radius: var(--border-radius); background-color: var(--bg-clr-light); }
.vlx-menu-builder .vlx-menu-item__header { display: flex; justify-content: space-between; align-items: center; }
.vlx-menu-builder .vlx-menu-item__title { display: flex; align-items: center; gap: 16px; }
.vlx-menu-builder .vlx-menu-item__title * { color: var(--text-clr); }
.vlx-menu-builder .vlx-menu-item__drag-handle { cursor: move; width: 16px; height: 16px; }
.vlx-menu-builder .vlx-menu-item__content { margin-top: 16px; padding: 16px; background: var(--bg-clr); border-radius: var(--border-radius); }
.vlx-menu-builder .vlx-menu-item__content .vlx-input-box.page-select { display: none; }
.vlx-menu-builder .vlx-menu-item__children { margin-left: 2rem; }
.vlx-menu-builder .vlx-menu-builder__actions { margin-top: 16px; }
.vlx-menu-builder .vlx-menu-item .btn-group { margin: 0 !important; gap: 16px; }
